In [1]:
result_df=['Accuracy','Precsion','Recall','ROC Curve']

In [5]:
result_df[0]=[10,12,13,14]
#result_df['def'] = [15,12,13,14]
#result_df['def'] = [16,12,13,14]
#result_df['ghc'] = [16,12,13,14]

In [6]:
print(result_df)

[[10, 12, 13, 14], 'Precsion', 'Recall', 'ROC Curve']

In [8]:
import pandas as pd
student = pd.DataFrame({'Name': ['Rohan', 'Rahul', 'Gaurav',
                                 'Ananya', 'Vinay', 'Rohan',
                                 'Vivek', 'Vinay'],
                         
                        'Score': [76, 69, 70, 88, 79, 64, 62, 57]})
print(student)

     Name  Score
0   Rohan     76
1   Rahul     69
2  Gaurav     70
3  Ananya     88
4   Vinay     79
5   Rohan     64
6   Vivek     62
7   Vinay     57

In [15]:
student['Score1']=[10,20,30,40,50,60,70,80]
student['Score2']=[10,20,30,40,50,60,70,80]
print(student)

     Name  Score  Score1  Score2
0   Rohan     76      10      10
1   Rahul     69      20      20
2  Gaurav     70      30      30
3  Ananya     88      40      40
4   Vinay     79      50      50
5   Rohan     64      60      60
6   Vivek     62      70      70
7   Vinay     57      80      80

In [18]:
print(student)

     Name  Score  Score1  Score2
0   Rohan     76      10      10
1   Rahul     69      20      20
2  Gaurav     70      30      30
3  Ananya     88      40      40
4   Vinay     79      50      50
5   Rohan     64      60      60
6   Vivek     62      70      70
7   Vinay     57      80      80

In [21]:
student.loc[[1]]=['r',10,20,30]

In [22]:
print(student)

     Name  Score  Score1  Score2
0   Rohan     76      10      10
1       r     10      20      30
2  Gaurav     70      30      30
3  Ananya     88      40      40
4   Vinay     79      50      50
5   Rohan     64      60      60
6   Vivek     62      70      70
7   Vinay     57      80      80

In [36]:
student = student.set_index('Name')

In [40]:
print(student)

        Score  Score1  Score2
Name
Rohan      76      10      10
r          10      20      30
Gaurav     70      30      30
Ananya     88      40      40
Vinay      79      50      50
Rohan      64      60      60
Vivek      62      70      70
Vinay      57      80      80

In [42]:
print(student.loc[['Rohan']])

       Score  Score1  Score2
Name
Rohan     76      10      10
Rohan     64      60      60

In [52]:
df1 = ['Rohan1',50,60,60]
#student.append(['Rohan1',50,60,60])
pd.concat(df1,ignore_index=True)

AttributeError: 'DataFrame' object has no attribute 'concat'